.magnetizedProductsContainer {
    padding-left: 20px;
    padding-right: 20px;

    :global div[class*="ms-DetailsHeader-cellIsCheck"] {
        display: none;
    }

    :global div[class*="ms-DetailsRow-check"] {
        display: none;
    }
}