.productSearchContainer {
    top: 0px;
    left: 10%;
    display: block;
    position: absolute;
    padding-top: 25px;
    .searchBoxContainer {
        justify-content: center;
        display: flex;
    }
}