.productSearchContainer {
    padding-top: 10px;

    .searchBoxContainer {
        display: block;

        div[class*="ms-SearchBox"] {
            div[class*="ms-SearchBox-iconContainer"] {
                i {
                    font-weight: 900;
                }

                i:hover {
                    cursor: pointer;
                    padding: 5px;
                    background-color: antiquewhite;
                    font-size: 20px;
                }
            }
        }
    }
}

.productSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

@media only screen and (orientation:portrait) {
    .products {
        flex-direction: row;
        align-content: space-around;
    }
}