.pivotContainer {
    background-color: white;
    text-align: center;

    div[class*="ms-FocusZone"] {
        div[class*="ms-Pivot"] {
            button[class*="ms-Pivot-link "]:nth-child(2) {
                opacity: 0.3 !important;
            }

            button[class*="ms-Pivot-link "]:nth-child(3) {
                opacity: 0.3 !important;
            }
        }
    }
}

.disabledButton {
    opacity: 0.3 !important;
}