.resultContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 5px;

    .left {
        display: block;
        padding: 10px;
    }
    
    .right {
        display: block;
        padding: 10px;
        
        div[class*="ms-Image"]{
            img[class*="ms-Image-image"]{
                width: auto;
                margin: auto;
            }
        }
    }
}

.resultsEllipsis {
    @extend .resultContainer;
    height: 150px;

    .left {
        overflow: hidden;
        text-overflow:ellipsis;
        background: -webkit-linear-gradient(black 90px, transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

.resultsContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

@media only screen and (orientation:portrait) {
    .resultsEllipsis{
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5px;
        height: 230px;
        width: 300px;
    }

    .resultContainer{
        width: 50%;
    }
}

