.twoDimensionalMapContainer {
    text-align: center;
    height: 100%;
    width: 90%;
    padding-top: 15px;

    .svgMap {
        fill: transparent;
        stroke-width: 0.5px;
        stroke: black;
        fill: #d9d9d9;

        .polygonObject {
            fill: #c7b09b;
            stroke-width: 0.3px;
        }

        .target {
            fill: #5780f9;
            stroke-width: 0.3px;
        }

        .products {
            fill: #5780f9;
            stroke-width: 0.3px;
        }

        .booth {
            fill: burlywood;
            stroke-width: 0.3px;
        }

        .elPath {
            fill: none;
            stroke-width: 1px;
            opacity: 0;
            stroke-linecap: round;
            stroke: #5780f9;
            animation: animateDash ease-in 1;
            animation-fill-mode: forwards;
            animation-duration: 1s;
        }
    }
}


@keyframes animateDash {
    from {
        opacity: 0;
        stroke-dasharray: 0%;
    }

    to {
        opacity: 1;
        stroke-dasharray: 110%;
    }
}