.twoDimensionalMapContainer {
    text-align: center;
    height: 100%;
    width: 90%;
    padding-top: 15px;
    .svgMap {
        height: 90%;
        fill: transparent;
        stroke-width: 1px;
        stroke: black;
        .polygonObject {
            fill: #f1f1f1;
        }
        .polygonObject:hover {
            fill: beige;
        }
    }
}